body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: darkslategray;
}

li {
    list-style: none;
}

.header {
    background-color: cadetblue;
    height: 90px;
    border-radius: 50px;
}

.header-logo {
    color: azure;
    font-size: 60px;
    padding-left: 15px;
}

.header-list {
    float: right;
}

.header-list li {
    float: left;
}

