body {
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: darkslategray;
}

li {
    list-style: none;
}

.header {
    height: 150px;
    width: 500px;
}

.header-logo {
    color: azure;
    font-size: 60px;
}
