h1 {
    color: black;
    background-color: whitesmoke;
    .wf-mplus1p { font-family: "M PLUS 1p"; }
}

h2 {
    text-align: center;
}

img {
    border-radius: 1000px;
    text-align: left;
    width: 100px;
    height: 100px;
}